body {
	font-family:  verdana, tahoma, arial;
}

.siteContainer {
	width: 900px;
	margin: 0pt auto;
	display: block;
}

.header h1 {
	font-size: 20px;
	margin-top:5px;
	margin-bottom:0px;
}

.contact {
	list-style-type: none;
	margin-top:5px;
	margin-bottom:5px;
}

.codeQuote {
	font-style:italic;
	display:block;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
}

.siteContent {
	margin-top:10px;
}

.section {
	font-size:12px;
	margin-bottom:10px;
	clear:both;
}
.section p {
	margin-left:50px;
	margin-top:2px;
	margin-bottom:5px;
}
.subsection {
	width:50%;
	float:left;
}
.sectionHeader {
	font-size: 16px;
	display: block;
	font-weight:bold;
}

.subHeader {
	font-size: 15px;
	display: inline-block;
	margin-left:10px;
}


.timeframe {
	font-size: 12px;
}
.timeframeTotal {
	font-size: 12px;
	display: inline-block;
	margin-left:10px;
}
.timeframe.centered {
	display:block;
	margin:0 auto;
	width:100%;
	text-align:center;
}

a:link { 
	color: #333333;
}
a:visited { 
         color: #666666;
}
a:hover { 
	color: #CCCCCC;
	text-decoration: underline;
}
a:active { 
	color: #333333;
}

@page {
	size: auto;
	margin: 10mm;
}

@media print {
	html,body {
		height: 100%;
		overlfow:hidden;
		margin:0 !important;
		padding: 0 !important;
	}
	.header h1, .siteContent {
		margin-top:0 !important;
	}

}
